@font-face {
    font-family: 'Rammetto';
    src: url('./fonts/Rammetto_One/RammettoOne-Regular.ttf');
}

body {
    font-family: 'Rammetto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://img.freepik.com/premium-photo/surface-green-swimming-pool-texture-background_55716-2249.jpg?w=1380');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.text-primary {
    color: #38908F; /* primary */
}

.text-copper {
    color: #E08963; /* copper */
}

.bg-primary {
    background-color: #38908F; /* primary */
}

.bg-copper {
    background-color: #E08963; /* copper */
}

.bg-lagoon {
    background-color: #B2EBE0; /* lagoon */
}

.hover\\:bg-hippie:hover {
    background-color: #5E96AE; /* hippie */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

nav {
    display: flex;
    flex-direction: row;
    height: 5rem;
    background-color: #1FBFB5; /* primary */
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.nav-bar-font {
    color: #FFBFA3; /* melon */
    font-family: 'Rammetto', sans-serif;
}

.logo img {
    width: 5rem;
    height: 5rem;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.nav-links a {
    color: #FFBFA3; /* melon */
    text-decoration: none;
    font-size: 1rem;
}

.nav-links a:hover {
    color: #5E96AE; /* hippie */
}

.main-section {
    display: flex;
    flex-direction: column;
    background-color: #B2EBE0; /* lagoon */
    padding: 2rem;
}

.custom-header {
    font-size: 2rem;
    color: #38908F; /* primary */
}

.pool-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #E0E0E0;
    border-radius: 8px;
    padding: 1rem;
    background-color: #E08963; /* copper */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    transition: box-shadow 0.3s, transform 0.3s;
}

.pool-card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
}

.pool-card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.button-container button {
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-container .update-button {
    background-color: #5E96AE; /* hippie */
}

.button-container .update-button:hover {
    background-color: #3B7C9C; /* darker hippie */
}

.button-container .delete-button {
    background-color: #E08963; /* copper */
}

.button-container .delete-button:hover {
    background-color: #C66E52; /* darker copper */
}

.image-container {
    width: 100%;
    height: 40vh; 
    overflow: hidden;
    border-radius: 8px;
}

.image-container {
    width: 100%;
    height: 50vh; 
    overflow: hidden;
    border-radius: 8px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(50vh - 4rem);
}

.card-content {
    background-color: white;
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 1200px;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

.grid-cols-custom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.reservations table {
    width: 100%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


